---
import '../styles/global.css'
import { title } from '../config'
import Navbar from '../components/navbar/Main.astro'
import Gallery from '../components/gallery/Main.astro'
---

<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Landmark page for the Museums of ACGN Stock Market" />
    <title>{title}</title>
  </head>

  <body class="flex flex-col flex-nowrap bg-orange-800">
    <Navbar />
    <Gallery />
  </body>
</html>
