---
import { title } from '../../config'
import { Image } from 'astro:assets'
import logoImage from '../../assets/icons/logo.png'
---

<!-- logo, title  -->
<a href="#" class="flex items-center">
  <Image
    src={logoImage}
    alt="Meseum Logo"
    class="GTM-site-logo mr-3 h-6 w-6 bg-white md:h-9 md:w-9"
    layout="constrained"
  />
  <span class="GTM-site-title self-center text-xl font-semibold whitespace-nowrap text-white"
    >{title}</span
  >
</a>
