---
import Info from './Info.astro'
import Control from './Control.astro'
---

<nav class="fixed z-50 w-full border-gray-200 bg-gray-800 px-2 sm:px-4">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <Info />
    <Control />
  </div>
</nav>
