---

---

<div class="loading-effect">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="shadow"></div>
  <div class="shadow"></div>
  <div class="shadow"></div>
  <span class="text-shadow-gray-800 text-shadow-md">影像載入中</span>
</div>
